In [1]:
 #preprocessing the data
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('/content/Delhi.csv')
print(data.head())
data.shape

      Price  Area          Location  No. of Bedrooms  Resale  \
0  10500000  1200  Sector 10 Dwarka                2       1
1   6000000  1000       Uttam Nagar                3       0
2  15000000  1350      Sarita Vihar                2       1
3   2500000   435       Uttam Nagar                2       0
4   5800000   900        Dwarka Mor                3       0

   MaintenanceStaff  Gymnasium  SwimmingPool  LandscapedGardens  JoggingTrack  \
0                 0          1             0                  0             1
1                 0          0             0                  0             0
2                 0          0             0                  0             0
3                 0          0             0                  0             0
4                 0          0             0                  0             0

   ...  LiftAvailable  BED  VaastuCompliant  Microwave  GolfCourse  TV  \
0  ...              1    0                1          0           0   0
1  ...              0    0                0          0           0   0
2  ...              0    0                0          0           0   0
3  ...              0    0                1          0           0   0
4  ...              1    0                0          0           0   0

   DiningTable  Sofa  Wardrobe  Refrigerator
0            0     0         0             0
1            0     0         0             0
2            0     0         0             0
3            0     0         0             0
4            0     0         0             0

[5 rows x 40 columns]

(4998, 40)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                4998 non-null   int64
 1   Area                 4998 non-null   int64
 2   Location             4998 non-null   object
 3   No. of Bedrooms      4998 non-null   int64
 4   Resale               4998 non-null   int64
 5   MaintenanceStaff     4998 non-null   int64
 6   Gymnasium            4998 non-null   int64
 7   SwimmingPool         4998 non-null   int64
 8   LandscapedGardens    4998 non-null   int64
 9   JoggingTrack         4998 non-null   int64
 10  RainWaterHarvesting  4998 non-null   int64
 11  IndoorGames          4998 non-null   int64
 12  ShoppingMall         4998 non-null   int64
 13  Intercom             4998 non-null   int64
 14  SportsFacility       4998 non-null   int64
 15  ATM                  4998 non-null   int64
 16  ClubHouse            4998 non-null   int64
 17  School               4998 non-null   int64
 18  24X7Security         4998 non-null   int64
 19  PowerBackup          4998 non-null   int64
 20  CarParking           4998 non-null   int64
 21  StaffQuarter         4998 non-null   int64
 22  Cafeteria            4998 non-null   int64
 23  MultipurposeRoom     4998 non-null   int64
 24  Hospital             4998 non-null   int64
 25  WashingMachine       4998 non-null   int64
 26  Gasconnection        4998 non-null   int64
 27  AC                   4998 non-null   int64
 28  Wifi                 4998 non-null   int64
 29  Children'splayarea   4998 non-null   int64
 30  LiftAvailable        4998 non-null   int64
 31  BED                  4998 non-null   int64
 32  VaastuCompliant      4998 non-null   int64
 33  Microwave            4998 non-null   int64
 34  GolfCourse           4998 non-null   int64
 35  TV                   4998 non-null   int64
 36  DiningTable          4998 non-null   int64
 37  Sofa                 4998 non-null   int64
 38  Wardrobe             4998 non-null   int64
 39  Refrigerator         4998 non-null   int64
dtypes: int64(39), object(1)
memory usage: 1.5+ MB

In [11]:
#print(data.head())
security=data['24X7Security']
lift=data['LiftAvailable']
resale=data['Resale']
car_parking=data['CarParking']
MaintenanceStaff =data['MaintenanceStaff']
VaastuCompliant=data['VaastuCompliant']
data1=data.iloc[:,:4]
data1['security']=security
data1['lift_available']=lift
data1['Resale']=resale
data1['CarParking']=car_parking
data1['MaintenanceStaff']=MaintenanceStaff
data1['VaastuCompliant']=VaastuCompliant
print(data1)

         Price  Area          Location  No. of Bedrooms  security  \
0     10500000  1200  Sector 10 Dwarka                2         1
1      6000000  1000       Uttam Nagar                3         0
2     15000000  1350      Sarita Vihar                2         0
3      2500000   435       Uttam Nagar                2         0
4      5800000   900        Dwarka Mor                3         0
...        ...   ...               ...              ...       ...
4993   2500000   540       Madhu Vihar                2         9
4994   3000000   540       Madhu Vihar                2         9
4995   2600000   415  Sector 26 Dwarka                1         9
4996   5500000   415  Sector 26 Dwarka                1         9
4997   4200000   900       Uttam Nagar                3         9

      lift_available  Resale  CarParking  MaintenanceStaff  VaastuCompliant
0                  1       1           1                 0                1
1                  0       0           1                 0                0
2                  0       1           0                 0                0
3                  0       0           1                 0                1
4                  1       0           1                 0                0
...              ...     ...         ...               ...              ...
4993               9       1           9                 9                9
4994               9       1           9                 9                9
4995               9       1           9                 9                9
4996               9       1           9                 9                9
4997               9       1           9                 9                9

[4998 rows x 10 columns]

In [14]:
for c in data1.columns:
  print(data1[c].value_counts())
  print("*"*20)

15500000    61
16000000    49
2500000     49
14500000    47
3500000     47
            ..
9700000      1
10200000     1
25400000     1
15200000     1
3520000      1
Name: Price, Length: 275, dtype: int64
********************
1800    143
900     112
1000     75
750      74
2000     72
       ...
3200      1
1530      1
517       1
350       1
1963      1
Name: Area, Length: 161, dtype: int64
********************
Dwarka Mor          254
Uttam Nagar         246
Burari              144
Vasant Kunj         115
Sector 6 Dwarka      80
                   ...
Green Park            1
Sector-8 Rohini       1
DLF Farms             1
Sector 28 Rohini      1
Nasirpur              1
Name: Location, Length: 103, dtype: int64
********************
3    1040
2     666
4     197
1      88
5      11
Name: No. of Bedrooms, dtype: int64
********************
0    1858
1     144
Name: security, dtype: int64
********************
1    1303
0     699
Name: lift_available, dtype: int64
********************
1    1403
0     599
Name: Resale, dtype: int64
********************
0    1522
1     480
Name: CarParking, dtype: int64
********************
0    1858
1     144
Name: MaintenanceStaff, dtype: int64
********************
0    1693
1     309
Name: VaastuCompliant, dtype: int64
********************

In [13]:
arr=[]
for i in range(2002,4998):
  arr.append(i)
data1=data1.drop(arr)

In [15]:
print(data1.isna().sum())
data1

Price               0
Area                0
Location            0
No. of Bedrooms     0
security            0
lift_available      0
Resale              0
CarParking          0
MaintenanceStaff    0
VaastuCompliant     0
dtype: int64

,Price,Area,Location,No. of Bedrooms,security,lift_available,Resale,CarParking,MaintenanceStaff,VaastuCompliant
0,10500000,1200,Sector 10 Dwarka,2,1,1,1,1,0,1
1,6000000,1000,Uttam Nagar,3,0,0,0,1,0,0
2,15000000,1350,Sarita Vihar,2,0,0,1,0,0,0
3,2500000,435,Uttam Nagar,2,0,0,0,1,0,1
4,5800000,900,Dwarka Mor,3,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1997,9000000,1200,Paschim Vihar,2,0,0,1,0,0,0
1998,12000000,1350,Pitampura,3,0,0,1,0,0,1
1999,16000000,1963,DLF Phase 5,4,0,0,1,0,0,0
2000,11600000,1050,Jasola,2,0,0,1,0,0,0
2001,13600000,1450,Jasola,3,0,0,1,0,0,0

In [16]:

locationcounts=data1['Location'].value_counts()
locationcount_lessthan_10=locationcounts[locationcounts<=10]
print(locationcount_lessthan_10)

Rohini sector 24    10
Mayur Vihar II       9
Palam                9
Rohini Sector 9      9
Bindapur             8
                    ..
Green Park           1
Sector-8 Rohini      1
DLF Farms            1
Sector 28 Rohini     1
Nasirpur             1
Name: Location, Length: 63, dtype: int64

In [17]:
data1['Location']=data['Location'].apply(lambda x:"Other" if x in locationcount_lessthan_10 else x)
data1['Location'].value_counts()
data1['Location'].value_counts()

Dwarka Mor           254
Uttam Nagar          246
Other                201
Burari               144
Vasant Kunj          115
Sector 6 Dwarka       80
Jamia Nagar           66
Sector 11 Dwarka      56
Sector 10 Dwarka      52
Sector 4 Dwarka       49
Sector 19 Dwarka      43
Sector 12 Dwarka      42
Alaknanda             40
Chattarpur            37
Mansa Ram Park        32
Sector 7 Dwarka       31
Sector 22 Dwarka      30
Sector 13 Dwarka      29
Sector 9 Dwarka       28
Sector 23 Dwarka      28
Sector 5 Dwarka       28
Sector 24 Rohini      25
Sector 23 Rohini      23
Saket                 23
Mundka                23
nawada                23
Chittaranjan Park     23
Sector-18 Dwarka      22
Paschim Vihar         22
Sector 2 Dwarka       20
Sector 3 Dwarka       20
Govindpuri            17
Mahavir Enclave       17
Sarita Vihar          16
Jasola                16
Shastri Nagar         15
Kalkaji               15
Sector 13 Rohini      15
Pitampura             13
Shahdara              12
Hari Nagar            11
Name: Location, dtype: int64

In [18]:
data1.head()

,Price,Area,Location,No. of Bedrooms,security,lift_available,Resale,CarParking,MaintenanceStaff,VaastuCompliant
0,10500000,1200,Sector 10 Dwarka,2,1,1,1,1,0,1
1,6000000,1000,Uttam Nagar,3,0,0,0,1,0,0
2,15000000,1350,Sarita Vihar,2,0,0,1,0,0,0
3,2500000,435,Uttam Nagar,2,0,0,0,1,0,1
4,5800000,900,Dwarka Mor,3,0,1,0,1,0,0

In [19]:
data1['security']=data1['security'].apply(lambda x: "Yes" if x == 1 else "No" )
data1['lift_available']=data1['lift_available'].apply(lambda x: "Yes" if x == 1 else "No" )
data1['Resale']=data1['Resale'].apply(lambda x: "Yes" if x == 1 else "No" )
data1['CarParking']=data1['CarParking'].apply(lambda x: "Yes" if x == 1 else "No" )
data1['MaintenanceStaff']=data1['MaintenanceStaff'].apply(lambda x: "Yes" if x == 1 else "No" )
data1['VaastuCompliant']=data1['VaastuCompliant'].apply(lambda x: "Yes" if x == 1 else "No" )
data1

,Price,Area,Location,No. of Bedrooms,security,lift_available,Resale,CarParking,MaintenanceStaff,VaastuCompliant
0,10500000,1200,Sector 10 Dwarka,2,Yes,Yes,Yes,Yes,No,Yes
1,6000000,1000,Uttam Nagar,3,No,No,No,Yes,No,No
2,15000000,1350,Sarita Vihar,2,No,No,Yes,No,No,No
3,2500000,435,Uttam Nagar,2,No,No,No,Yes,No,Yes
4,5800000,900,Dwarka Mor,3,No,Yes,No,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...
1997,9000000,1200,Paschim Vihar,2,No,No,Yes,No,No,No
1998,12000000,1350,Pitampura,3,No,No,Yes,No,No,Yes
1999,16000000,1963,Other,4,No,No,Yes,No,No,No
2000,11600000,1050,Jasola,2,No,No,Yes,No,No,No
2001,13600000,1450,Jasola,3,No,No,Yes,No,No,No

In [22]:
x=data1.iloc[:,1:]
y=data1['Price']
print(x.head())
print(y.head())

   Area          Location  No. of Bedrooms security lift_available Resale  \
0  1200  Sector 10 Dwarka                2      Yes            Yes    Yes
1  1000       Uttam Nagar                3       No             No     No
2  1350      Sarita Vihar                2       No             No    Yes
3   435       Uttam Nagar                2       No             No     No
4   900        Dwarka Mor                3       No            Yes     No

  CarParking MaintenanceStaff VaastuCompliant
0        Yes               No             Yes
1        Yes               No              No
2         No               No              No
3        Yes               No             Yes
4        Yes               No              No
0    10500000
1     6000000
2    15000000
3     2500000
4     5800000
Name: Price, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
print(x_train.shape)
print(x_test.shape)

(1601, 9)
(401, 9)

In [27]:
#linear regression
#col_trans=make_column_transformer((OneHotEncoder(sparse=False),['Location'],['security'],['lift_available'],['Resale'],['CarParking'],['MaintenanceStaff'],['VaastuCompliant']),remainder='passthrough')
col_trans = make_column_transformer(
    (OneHotEncoder(sparse=False), ['Location', 'security', 'lift_available', 'Resale', 'CarParking', 'MaintenanceStaff', 'VaastuCompliant']),
    remainder='passthrough')
sr=StandardScaler()
lr=LinearRegression()
pipe=make_pipeline(col_trans,sr,lr)
pipe.fit(x_train,y_train)
y_predict=pipe.predict(x_test)
r2_score(y_test,y_predict)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.8370484674184138

In [28]:
#applying lasso
lasso=Lasso()
pipe=make_pipeline(col_trans,sr,lasso)
pipe.fit(x_train,y_train)
y_predict_las=pipe.predict(x_test)
r2_score(y_test,y_predict_las)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.019e+15, tolerance: 1.441e+13
  model = cd_fast.enet_coordinate_descent(

0.8363224768914135

In [29]:
#applying ridge
ridge=Ridge()
pipe=make_pipeline(col_trans,sr,ridge)
pipe.fit(x_train,y_train)
y_predict_ridge=pipe.predict(x_test)
print(x_test.head())
r2_score(y_test,y_predict_ridge)

      Area         Location  No. of Bedrooms security lift_available Resale  \
677   2250  Sector 4 Dwarka                4       No            Yes    Yes
980   1050       Dwarka Mor                3       No            Yes     No
1240  1125            Other                2       No             No    Yes
156   1500     Sarita Vihar                4       No             No    Yes
522    720           Mundka                2       No            Yes    Yes

     CarParking MaintenanceStaff VaastuCompliant
677          No               No              No
980          No               No             Yes
1240         No               No              No
156         Yes               No              No
522          No               No              No

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.8367044062870281

In [30]:

arr2=pd.DataFrame([[1200,"Sector 10 Dwarka",2,"Yes","Yes","Yes","Yes","No","Yes"]],columns=["Area","Location","No. of Bedrooms","security","lift_available","Resale","CarParking","MaintenanceStaff","VaastuCompliant"])

output=pipe.predict(arr2)[0]
print("Price for the given data is",np.round(output,2))

Price for the given data is 8748378.92